---
Language: Cpp
BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments:
  Enabled: false
AlignConsecutiveDeclarations: false
AlignOperands: DontAlign
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BreakBeforeBraces: Custom
BreakConstructorInitializers: AfterColon
ColumnLimit: 120
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"[^/]*"'
    Priority: 1
  - Regex: '^".*/.*"'
    Priority: 2
  - Regex: '^"\.\./.*"'
    Priority: 3
  - Regex: '^<.*\.hpp>'
    Priority: 4
  - Regex: '^<[^.]*>'
    Priority: 5
  - Regex: '.*'
    Priority: 6
IndentGotoLabels: false
IndentWidth: 4
InsertNewlineAtEOF: true
MaxEmptyLinesToKeep: 2
PackConstructorInitializers: NextLine
SeparateDefinitionBlocks: Leave
SortIncludes: true
SpaceInEmptyParentheses: false
SpacesInAngles: Never
SpacesInParens: Never
FixNamespaceComments: false
TabWidth: 4
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: InlineOnly
...
